#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #121e2d;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(180, 12, 12, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: red;
    margin-left: '300px';
    
  }

   .cards .ant-card-body{
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .ant-card-body{
    overflow-x: auto;
    height: 100%;
  }

  .ant-card .ant-card-bordered{
    height: 100%;
  }
  .ant-layout-content .site-layout-background{
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    background-color: rgb(248, 248, 248);
    background-color: green !important;
  }

  

